<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.rustore.flutter_rustore_push">
    <application>
       <service
               android:name="ru.rustore.flutter_rustore_push.FlutterRustorePushService"
               android:exported="true"
               tools:ignore="ExportedService">
           <intent-filter>
               <action android:name="ru.rustore.sdk.pushclient.MESSAGING_EVENT" />
           </intent-filter>

       </service>
        <meta-data
            android:name="ru.rustore.sdk.pushclient.project_id"
            android:value="your_project_id_from_rustore_console" />
    </application>
</manifest>
